/* ==================================== TEXT ==================================== */
p {
    font-family: Lato;
    color: #ebd6d6;
}

h5 {
    font-family: Lato;
    color: #ebd6d6; 
}

/* ==================================== FOOTER ==================================== */
footer {
    background-color: #4e4242;
}

.fa {
    padding: 10px;
    font-size: 30px;	
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
    opacity: 0.7;
}

/* Social media icons */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: rgb(17, 95, 241);
    color: white;
}

.fa-instagram {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

