header{
    border-radius: 1px solid;
}

img {
    border-radius: 50%;
}

.hackernews-icon-png{
    height: 50px;
    padding: 8px 8px 8px 0;
    width: 50px;
}

.hackernews-text{        
    color: #f37500;
    text-decoration: none;
    font-weight: 700;
    height: 50px;
    width: 50px;    
}

a {
    &.active {
        background: #f37500;
        border: 1px solid;
        border-radius: 4px;
    }
}

.nav-buttons{        
    padding-left: 100px; 
    color: white;
}

.logo{
    text-decoration: none;
}

.login, .sign-up{    
    border: 1px solid;
    border-radius: 4px;

    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1; 
}

.login-reg-buttons {
    padding-right: 25px;
}

.sign-up{
    background-color: #f37500;
    border-color: rgb(0, 0, 0);
    color: aliceblue;
}

.login{
    background-color: #f37500;
    border-color: rgb(0, 0, 0);
    color: aliceblue;
}

.sign-up:hover{
    opacity: 0.7;
}

.login:hover{
    opacity: 0.7;
}

/* Social Media Icons */

.fa {
    padding: 5px;
    font-size: 15px;	
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
}
  
/* Hover feature on social media icons */
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: rgb(17, 95, 241);
    color: white;
}

.fa-instagram {
    background: #ffffff;
    color: rgb(0, 0, 0);
}
