<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
        <div class="flex-grow-1">
            <a aria-label="Home" class="logo" routerLink="/">
                <img src="../../assets/favicon.png" viewBox="0 0 20 20" class="hackernews-icon-svg">
                <span class="hackernews-text">
                    Hacker News 
                </span>
            </a>
        </div>

        <div class="login-reg-buttons">                
            <a routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</a>
            <a routerLink="/login" class="float-right login mr-2">Login</a>
        </div>

        <div class="socials">
            <a href="https://www.instagram.com/thehackernews/?hl=en" class="fa fa-instagram"></a>
            <a href="https://www.facebook.com/thehackernews/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/newsycombinator?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
        </div>
    </nav>
</header>