<mat-card>
    <mat-card-header>
        <mat-card-title>
            <span class="title" (click)="openLink(story?.url)">{{ story?.title }}</span>
        </mat-card-title>

        <mat-card-subtitle>
            <span class="score">{{ story?.score }} Points</span> Submitted
            <span class="time"> {{ getTimeAgo(story?.time) }}</span>
            
            <span class="author">{{ story?.by }}</span> &nbsp;
            <span class="comments" (click)="openComments(story?.id)">{{ story?.descendants }} comments</span>
        </mat-card-subtitle>
        
        <mat-card-subtitle>
            <span class="url" (click)="openLink(story?.url)">{{ story?.url }}</span>
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>   